main.TodoCard {
  max-width: var(--card-max-width);
  width: 100%;
  background-color: var(--current-card-background-color);
  box-shadow: var(--current-box-shadow);
  box-sizing: border-box;
  border-radius: 5px;
}

.TodoCard .TodoItem:first-of-type {
  border-radius: 5px 5px 0 0;
}
.TodoCard .footer {
  height: 50px;
  border-top: 1px solid var(--current-subdued);
  width: 100%;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.subfooter.mobile {
  padding: 1rem;
  justify-content: space-between;
  font-size: 1rem;
  display: none;
  color: var(--subdued-font);
}

.subfooter button {
  font-family: var(--font-family);
}

@media screen and (max-width: 450px) {
  .TodoCard .footer {
    height: auto;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .TodoCard .footer label {
    width: 50%;
    font-size: 1.15rem;
  }

  .subfooter.mobile {
    display: flex;
  }

  .TodoCard .desktop {
    display: none;
  }

  .TodoCard .footer .status {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .TodoCard .footer .status button {
    font-size: 1rem;
  }
}

.TodoCard label {
  color: var(--subdued-font);
}


