option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    DB_PASSWORD: '`{ "Fn::GetAtt": [ "ParameterStoreCustomResource", "/DB_PASSWORD" ] }`'
    DB_HOST='`{ "Fn::GetAtt": [ "ParameterStoreCustomResource", "/DB_HOST" ] }`'
    DB_USERNAME='`{ "Fn::GetAtt": [ "ParameterStoreCustomResource", "/DB_USERNAME" ] }`'
    DB_NAME='`{ "Fn::GetAtt": [ "ParameterStoreCustomResource", "/DB_NAME" ] }`'

