header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--current-background-header);
    box-shadow: var(--current-box-shadow);
    height: 50px;
}

header.row {
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 1.5rem; */
}

/* @media screen and (max-width: 860px) {
    header.row {
        margin-bottom: -70px;
    }
}

@media screen and (max-width: 450px) {
    header.row {
        margin-bottom: 1.5rem;
    }
} */

header h1 {
    margin: 0.5rem 0.5rem 0;
    line-height: 2.5rem;
}

.banner {
    width: 100%;
    height: var(--banner-height);
    background: var(--current-background-banner);
    background-size: cover;
    background-position: top;
    mix-blend-mode: normal;
}

@media screen and (max-width: 860px) {
    .banner {
        background: var(--current-background-mobile-banner);
        background-size: cover;
        background-position: top;
        mix-blend-mode: normal;
        height: var(--banner-height-mobile);
    }
}
